#navbar{
    flex-direction: column;
    overflow: hidden;
    height: 90px;
    padding: 0.50rem 0.25rem;
} 
#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}
.courses .course{
    display: flex;
    flex-direction: column;
}